/* ----------------------------------admin Manager section css */
.MainContainer{
    font-size: 0.8rem;
    padding: 1rem;
}
.Container{
    border: 1px solid #e5e5ea;
    border-radius: 2px;
    padding: 1rem;
    background-color: white;
    color: #808080;
}
.InnnerContainerAdmin{
    border: 1px solid #e5e5ea;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: white;
}


/* ------------------------------------category section css */
.InnnerContainer{
    border: 1px solid #e5e5ea;
    border-radius: 10px;
}

/*------------------------------------Sub- category section css */
.InnnerContainerCategory{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.closeButton{
    color: #f06767; 
    font-size:1.1rem;
    text-align: center;
    margin-left: 1rem;
}
.InnnerContainerRadio{
    display: flex;
    align-items: center;
}
.InnerContainer2{
    padding: 1rem;
}



/* -----------------------------------Category Cards */

.rs-col .CategoryCardSection{
    margin-right: 2rem;
}
.Categorycards{
    background: linear-gradient(to right, #8f69d6, #e5e5ea);

}
.rs-panel-header {
    color:#f0ecf7 ;
    font-weight: 700;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    padding: 1rem;
    background-color: #6c35d3;
    border-radius: 4px;
    margin-bottom: 0.6rem;
}
.CategoryCardSection{
    display: grid;
    
    background-color: #ececf0;
    padding: 0.7rem;
    border-radius: 7px;
}
.CategoryCardSection p {
    border-radius: 1rem;
}
/* -------------------------------Button Component---------------------------- */ 
button.buttonComponent {
background-color: "blueviolet";
border: "blueviolet";
border-radius: "3px 3px 3px 3px";
width: "100%";
padding: "5px";
color: "white";
margin-top: "20px";
}

i.fa-times{
 color: #f83b3b;
 font-size: 1rem;
}
i.fa-check{
    color:#3fd621 ;
    font-size: 1rem;
}
.pendingIcon{
    color:#FF9500 ;
    font-size: 1.3rem;
    font-weight: 800;
}

/* -------------------------------Button Component---------------------------- */ 
button.buttonComponent {
background-color: "blueviolet";
border: "blueviolet";
border-radius: "3px 3px 3px 3px";
width: "100%";
padding: "5px";
color: "white";
margin-top: "20px";
}


/* --------------------------------responsive------------------------------- */



@media screen and (min-width:320px) and (max-width:768px){
    .rs-col .Categorycards{
        margin-right: 0;
    }
}

