.AddAdminMainContainer{
    /* background-color: #f2f2f5; */
    font-size: 0.8rem;
    height: 100vh;
    padding: 1rem;
}
.AdminContainer{
    border: 1px solid #e5e5ea;
    border-radius: 2px;
    padding: 3rem;
    background-color: white;
    color: #808080;
}
.InnnerContainerAdmin{
    border: 1px solid #e5e5ea;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: white;
}


/* category section css */
.InnnerContainer{
    border: 1px solid #e5e5ea;
    border-radius: 10px
}