.table tbody tr td {
    padding: 1px 8px;
    font-size: 0.8rem;
}
.bold-col {
    font-weight: bold;
}
.modal-header {
    border-bottom: 1px solid gray;
    
}
.modal-title {
    margin-top: 0px;
    font-weight: bold;
   
}
.close-icon {
    font-size: 20px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    
}
.modal-body {
    height: 200px;
    overflow-y: scroll;
    scrollbar-color: #e30728 #e0e0e0 !important;
     /* scrollbar-width: thin; */
}
 .modal-body::-webkit-scrollbar {
    width: 8px;
 }
  .modal-body::-webkit-scrollbar-track {
    background-color: rgb(234, 228, 228);
  }
  .modal-body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(156, 7, 231, 0.93);
    border-radius: 5px;
    /* color:rgba(156, 7, 231, 0.93) !important ; */
  }
@media (max-width: 768px) {
    .table tbody tr td {
      padding: 5px;
      font-size: 0.7rem;
    }
  
    .modal-body {
      height: 150px;
    }
  }