.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 12px;
    text-transform: uppercase;
    color: #9A9A9A;
    font-weight: 400;
    padding-bottom: 5px;
    border-top: none !important;
    border-bottom: none;
    text-align: center !important;
    text-align: center;
}